/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  background-color: #f1e3d5;
}

body {
  background-color: #f1e3d5;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-weight: 600;
  letter-spacing: 1px;
}

.labels {
  font-size: 1rem;
  font-weight: 300;
}

.titles {
  font-size: 1.2rem;
}

.icon {
  max-width: 60px;
  z-index: 150;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* NAV */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
}

.navbar .nav {
  display: flex;
  font-size: 18px;
  margin: 0;
  justify-content: space-around;
  padding: 10px;
  transition: all 0.5s;
  background-color: rgba(103, 140, 140, 0.5);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(9px);
}

.navbar .nav li {
  list-style: none;
  padding: 20px;
}

.navbar .nav a {
  color: #fff;
  text-decoration: none;
}

.navbar .nav a:hover,
.navbar .nav a:active {
  border-bottom: 2px solid white;
  transition: all 1s ease;
}

/* COOL JUNGLE */

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.background,
.background-2,
.foreground,
.foreground-2,
.logo {
  position: absolute;
}

.background {
  transform: translateZ(-20px) scale(3);
}

.background-2 {
  transform: translateZ(-15px) scale(2.5);
  top: -110em;
}

.foreground {
  transform: translateZ(-10px) scale(2);
}

.foreground-2 {
  transform: translateZ(-5px) scale(1.5);
}

.logo {
  width: 100%;
  top: 15em;
}

/* LAYOUT */

.container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

/* HOMEPAGE */

.intro {
  margin-top: 18em;
  display: flex;
  position: relative;
  z-index: 110;
  width: 100%;
}

.intro-container {
  margin-top: 13em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 1em 3em 1em;
}

.intro__heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 200;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.intro__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.blurb {
  text-align: center;
}

.intro::before {
  content: "";
  position: absolute;
  background-image: url("/assets/images/topfog1.png");
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 1000px;
  left: 0px;
  z-index: -1;
}

/* PORTFOLIO */

.portfolio-item-1,
.portfolio-item-2,
.portfolio-item-3 {
  background-color: #f1e3d5;
  display: flex;
  z-index: 110;
  position: relative;
}

.portfolio__picture {
  z-index: 120;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  position: relative;
  background-color: #f1e3d5;
}

.portfolio__content {
  background-color: #f1e3d5;
  width: 100%;
  z-index: 110;
  padding: 1em 1em 3em 1em;
  text-align: center;
}

.labels {
  font-size: 1rem;
  padding: 0.5em;
  font-weight: 300;
}

.title {
  font-weight: 600;
  padding: 0.5em;
  letter-spacing: 1px;
}

.desc {
  padding: 0.5em;
}

/* CTA */

.cta-container {
  padding: 2em 0.5em 0.5em 0.5em;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.25em;
  text-transform: lowercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  z-index: 130;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(138, 189, 189, 0.3);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: rgb(138, 189, 189);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.9);
}

.second-cta:hover:before {
  background: rgb(150, 201, 191);
}

.third-cta:hover:before {
  background: rgb(147, 200, 168);
}

.second-cta:before {
  background: rgba(150, 201, 191, 0.3);
}

.third-cta:before {
  background: rgba(147, 200, 168, 0.3);
}

.two-col {
  display: flex;
  flex-direction: column;
}

.first {
  background-image: url("/assets/images/project1.png");
}

.second {
  background-image: url("/assets/images/project2.png");
}

.third {
  background-image: url("/assets/images/project3.png");
}

/* CLOUDS AND FOG */

.fog {
  display: none;
}

.fog:hover {
  transform: translateY(200px);
  opacity: 0;
}

.cloud {
  position: absolute;
  width: 200px;
  transition: all 1s ease;
  z-index: 150;
}

.first-cloud-1:hover,
.second-cloud-1:hover,
.third-cloud-1:hover {
  transform: translateX(100px);
  opacity: 0;
}

.first-cloud-2:hover,
.second-cloud-2:hover,
.third-cloud-2:hover {
  transform: translateX(-100px);
  opacity: 0;
}

.first-cloud-1 {
  top: -60px;
  left: -80px;
}

.first-cloud-2 {
  top: 240px;
  left: 180px;
}

.second-cloud-1 {
  top: -65px;
  left: 170px;
}

.second-cloud-2 {
  top: 250px;
  left: -50px;
}

.third-cloud-1 {
  top: -60px;
  left: -80px;
}

.third-cloud-2 {
  top: 240px;
  left: 180px;
}

/* EXAMPLES */

.examples {
  background-color: #f1e3d5;
  z-index: 110;
  position: relative;
}

.examples__image {
  width: 100%;
  position: relative;
  background-color: #f1e3d5;
  padding: 2em 1em 3em 1em;
}

/* HOME-CONNECT */

.home-connect {
  padding: 0 1em 3em 1em;
  width: 100%;
  z-index: 120;
  position: relative;
  background-color: #f1e3d5;
  text-align: center;
}

.drop-cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.drop-cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  z-index: 130;
}

.drop-me-link {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 2rem;
}

/* FOOTER */

.footer {
  background-color: #e2d3c7;
  height: 80px;
  z-index: 130;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERIES */

@media screen and (min-width: 400px) {
  .first-cloud-2 {
    top: 240px;
    left: 300px;
  }

  .second-cloud-1 {
    top: -65px;
    left: 270px;
  }

  .third-cloud-2 {
    top: 240px;
    left: 300px;
  }
}

@media screen and (min-width: 500px) {
  .cloud {
    width: 250px;
  }

  .first-cloud-1 {
    top: -90px;
    left: -70px;
  }

  .second-cloud-1 {
    top: -90px;
    left: 330px;
  }

  .third-cloud-1 {
    top: -90px;
    left: -30px;
  }

  .third-cloud-2 {
    top: 240px;
    left: 320px;
  }
}

@media screen and (min-width: 600px) {
  .background,
  .background-2,
  .foreground,
  .foreground-2,
  .logo {
    height: 100%;
    width: 100vw;
    object-fit: cover;
  }

  .background-2 {
    top: 0;
  }

  .logo {
    transform: translateZ(-15px) scale(1);
    top: 0;
  }

  .intro {
    margin-top: 50em;
  }

  .first-cloud-1 {
    top: 70px;
    left: -50px;
  }

  .first-cloud-2 {
    top: 240px;
    left: 350px;
  }

  .second-cloud-1 {
    top: -90px;
    left: 430px;
  }

  .second-cloud-2 {
    top: 270px;
    left: 0;
  }

  .third-cloud-2 {
    left: 380px;
  }
}

@media screen and (min-width: 700px) {
  .two-col {
    flex-direction: row;
  }

  .portfolio-item-1 {
    padding: 2em 0 1em 0;
  }

  .portfolio-item-2,
  portfolio-item-3 {
    padding: 1em 0;
  }

  .first-cloud-1 {
    top: -70px;
    left: 250px;
  }

  .first-cloud-2 {
    top: 230px;
    left: 0;
  }

  .second-cloud-1 {
    top: -80px;
    left: 200px;
  }

  .second-cloud-2 {
    top: 220px;
    left: 150px;
  }

  .third-cloud-1 {
    top: -80px;
    left: -30px;
  }

  .third-cloud-2 {
    left: 200px;
    z-index: 130;
  }
}

@media screen and (min-width: 850px) {
  .portfolio__content {
    text-align: left;
  }
}

@media screen and (min-width: 1000px) {
  .intro-container {
    flex-direction: row;
  }

  .intro__heading {
    width: 50%;
  }

  .intro__content {
    width: 50%;
  }

  .blurb {
    border-left: 1px solid #000;
    padding: 1em;
    text-align: left;
  }

  .first-cloud-1 {
    top: -90px;
    left: 280px;
  }

  .first-cloud-2 {
    top: 90px;
    left: -30px;
  }

  .second-cloud-1 {
    top: -100px;
    left: 40px;
  }

  .second-cloud-2 {
    left: 250px;
  }

  .third-cloud-2 {
    left: 300px;
  }

  .home-connect {
    background: transparent;
  }

  .drop-cta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -140px;
  }

  .drop-cta svg {
    height: 30px;
    width: 27px;
  }

  .drop-cta:hover svg {
    transform: translateX(0);
  }

  .drop-me-link {
    font-size: 4rem;
    font-weight: 200;
  }

  .drop-cta:hover .drop-me-link {
    transition: all 0.8s ease;
    color: #678c85;
  }
}

@media screen and (min-width: 1280px) {
  .intro__heading {
    justify-content: flex-end;
    margin-right: 1em;
  }

  .blurb {
    padding: 1.5em;
  }

  .blurb p {
    width: 80%;
  }

  .desc {
    width: 80%;
  }

  .first-cloud-1 {
    top: -90px;
    left: 400px;
  }

  .first-cloud-2 {
    top: 200px;
  }

  .second-cloud-1 {
    top: -90px;
    left: 360px;
  }

  .second-cloud-2 {
    top: 230px;
    left: -30px;
  }

  .third-cloud-1 {
    top: -80px;
    left: 450px;
  }

  .third-cloud-2 {
    left: 0;
  }
}

@media screen and (min-width: 1450px) {
  .intro__heading {
    font-size: 2.5rem;
  }

  .fog {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 180px;
    width: 50%;
    transition: all 1s ease;
  }

  .first-cloud-1 {
    top: 200px;
    left: 450px;
  }

  .first-cloud-2 {
    top: 80px;
    left: 60px;
  }

  .second-cloud-1 {
    top: 60px;
    left: 450px;
  }

  .second-cloud-2 {
    top: 100px;
    left: 40px;
  }

  .third-cloud-1 {
    top: 60px;
    left: 450px;
  }

  .third-cloud-2 {
    top: 170px;
    left: 50px;
  }
}

@media screen and (min-width: 2000px) {
  .intro-container {
    margin-top: 17em;
  }
}

/* ABOUT PAGE */
.about-background,
.about-background-2,
.about-foreground {
  position: absolute;
  height: 100%;
  width: 100vw;
  object-fit: cover;
}

.about-background {
  transform: translateZ(-20px) scale(3);
}

.about-background-2 {
  transform: translateZ(-15px) scale(2.5);
}

.about-foreground {
  transform: translateZ(-10px) scale(2);
}

.about-foreground-2 {
  transform: translateZ(-5px) scale(1.5);
}

.about-logo {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 150;
}

.about {
  margin-top: 20em;
  position: relative;
  z-index: 130;
  padding: 1em;
  background-color: #f1e2d5;
}

.about::before {
  content: "";
  position: absolute;
  background-image: url("/assets/images/topfog3.png");
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 1000px;
  top: -380px;
  left: 0;
  z-index: -1;
}

.about-container {
  background-image: url(/assets/images/aboutblurb.jpg);
  background-size: cover;
  background-color: #f1e2d5;
  padding: 1em;
}

.about__desc {
  margin-bottom: 2em;
}

.about__list {
  margin-bottom: 2em;
}

.about__image {
  width: 100%;
}

.recs {
  background-color: #f1e2d5;
  position: relative;
  z-index: 110;
}

.recs__title {
  margin-bottom: 1em;
}

.rec__one {
  padding: 1em;
  margin-bottom: 2em;
  background-image: url(/assets/images/1.jpg);
}

.rec__two {
  padding: 1em;
  margin-bottom: 2em;
  background-image: url(/assets/images/2.jpg);
}

/* ABOUT PAGE MEDIA QUERIES */

@media screen and (min-width: 400px) {
  .about {
    margin-top: 25em;
  }
}

@media screen and (min-width: 600px) {
  .about__lists {
    display: flex;
  }

  .about__list {
    width: 50%;
  }
}

@media screen and (min-width: 700px) {
  .about-background {
    content: url("/assets/images/smallestaboutbg.png");
  }

  .about {
    margin-top: 80em;
  }

  .about-logo {
    display: none;
  }

  .recs__list {
    display: flex;
    flex-direction: row;
  }

  .rec__one,
  .rec__two {
    display: flex;
    justify-content: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2em;
    height: 20em;
    width: 50%;
    margin-right: 1em;
    flex-wrap: wrap;
  }

  .rec__one blockquote,
  .rec__two blockquote {
    width: 75%;
  }
}

@media screen and (min-width: 900px) {
  .about-container {
    display: flex;
    align-content: center;
  }

  .about__content {
    align-content: center;
    width: 50%;
  }

  .about__list {
    padding: 0.5em;
  }

  .about__picture {
    width: 50%;
  }

  .recs__title {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .about-background {
    content: url("/assets/images/aboutbg1.png");
  }
}

/* CONNECT PAGE */

.connect-background,
.connect-background-2 {
  position: absolute;
  height: 100%;
  width: 100vw;
  object-fit: cover;
}

.connect-background {
  transform: translateZ(-20px) scale(3);
}

.connect-background-2 {
  transform: translateZ(-10px) scale(2);
}

.connect-logo {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  z-index: 150;
}

.connect {
  margin-top: 25em;
  position: relative;
  z-index: 130;
  padding: 1em;
  background-color: #f1e2d5;
}

.connect::before {
  content: "";
  position: absolute;
  background-image: url("/assets/images/topfog1.png");
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 1000px;
  top: -250px;
  left: 0;
  z-index: -1;
}

.connect-container {
  width: 100%;
  background-image: url(/assets/images/connectbg.jpg);
  background-size: cover;
  background-position: top;
  height: 80px;
  gap: 1em;
}

.connect-container img {
  transition: all 0.8s ease;
  cursor: pointer;
}

.connect-container img:hover {
  transform: translateY(-20px);
}

.connect-container h3 {
  font-weight: 500;
  margin-top: 0;
  letter-spacing: 2px;
  transition: all 0.4s ease;
}

.connect-container h3:hover {
  color: #678c85;
}

.connect__item {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email {
  display: flex;
  flex-direction: column;
}

.email-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connect__email-copy {
  cursor: pointer;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 1.3rem;
  font-weight: 300;
}

.copy-icon {
  cursor: pointer;
  width: 2em;
  padding: 0.4em;
}

.copy-icon:hover {
  transition: all 0.8s ease;
  color: #678c85;
}

#email-text:hover {
  transition: all 0.8s ease;
  color: #678c85;
}

/* ABOUT PAGE MEDIA QUERIES */

@media screen and (min-width: 500px) {
  .connect-container {
    height: 150px;
  }

  .connect__item {
    flex-direction: row;
    gap: 1em;
  }
}

@media screen and (min-width: 600px) {
  .connect-background {
    content: url("/assets/images/connectpage-bgmobile.jpg");
  }

  .connect {
    margin-top: 60em;
  }

  .connect-logo {
    display: none;
  }

  .connect-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .connect__item {
    flex-direction: column;
    gap: 0;
  }

  .connect__email-copy {
    padding: 0;
  }
}

@media screen and (min-width: 800px) {
  .connect-container {
    height: 200px;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 900px) {
  .connect-background {
    content: url("/assets/images/connectpage-bgtab.jpg");
  }

  .connect-container {
    height: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .connect-background {
    content: url("/assets/images/connectpage-bg.jpg");
  }

  .connect__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  }
}

@media screen and (min-width: 1440px) {
  .connect {
    margin-top: 70em;
  }
  .connect-container {
    height: 400px;
  }

  .connect__item {
    flex-direction: row;
    gap: 0.5em;
  }

  .connect__item h3 {
    font-size: 1.5rem;
  }

  .email-icon {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #email-text {
    margin-left: 1em;
  }
}

@media screen and (min-width: 1920px) {
  .connect:before {
    top: -310px;
  }
}
